body{
    background-color: black;
}
table, th, td {
    padding: 15px;
    border: 2px solid white;
    border-collapse: collapse;
    color: white;
    text-align: center;

  }
  img{
      height: 200pxpx;
      width:125px;
  }
  .one{
      width: 100px;
  }
  .two{
      width: 200px;
  }
  a{
      font-size: 40px;
  }

